{% from "sentisecurity/_macros.html" import render_errors %}
{% extends "sentidash/base.html" %}
    <!-- Custom styles for this template -->
{% block head_css %}
    {{ super() }}
    <style type="text/css">
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .form-signin ul li {
            color: #a94442
        }
    </style>
{% endblock %}

{% block top_links %}
    {% include '_top_links.html' %}
{% endblock %}

{% block body %}

    <div class="container">
        <form class="form-signin" action="{{ url_for('security.login') }}" method=post name="login_user_form">
            <h2 class="form-signin-heading">Please sign in</h2>
            {{ login_user_form.hidden_tag() }}
            {{ login_user_form.email(class="form-control", placeholder="Email address")|safe }}
            {{ render_errors(login_user_form.email) }}
            {{ login_user_form.password(class="form-control", placeholder="Password")|safe }}
            {{ render_errors(login_user_form.password) }}
            <p>Remember me{{ login_user_form.remember(class="checkbox")|safe }}</p>
            {{ render_errors(login_user_form.remember) }}
            <!--<input type="password" class="form-control" placeholder="Password" required name="{{ login_user_form.password }}">-->
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Login">Sign in</button>
            <a class="btn btn-lg btn-info btn-block" href="{{ url_for('security.register') }}" style="padding-top:10px">Register</a>
        </form>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
