{% extends 'sentidash/base.html' %}

{% block head_css %}
    {{ super() }}
    <style type="text/css">
        .btn-list {
            padding-top: 10px;
        }
    </style>

{% endblock %}

{% block top_links %}
    {% include '_top_links.html' %}
{% endblock %}

{% block header %}
    {{ dash_macros.page_heading('User Management: ' + current_user.name) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 col-push-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Details</h3></div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Email Address</td>
                            <td>{{ current_user.email }}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{ current_user.name }}</td>
                        </tr>
                        <tr>
                            <td>Confirmed At</td>
                            <td>{{ current_user.confirmed_at }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9 btn-list">
            <a class="btn btn-default btn-block" href="{{ url_for('security_manager.change_details') }}">Change User Details</a>
        </div>
        <div class="col-md-9 btn-list">
            <a class="btn btn-default btn-block" href="{{ url_for('security.change_password') }}">Change Password</a>
        </div>
        <div class="col-md-9 btn-list">
            <a class="btn btn-default btn-block" href="{{ url_for('security.send_confirmation') }}">Resend Confirmation Email</a>
        </div>

    </div>
{% endblock %}
