{% import 'admin/master.html' as layout with context -%}
{% extends 'admin/master.html' %}
{#  Creates a page for bulk uploads within the admin context

    Params:
      download_url - url for the template to download
      upload_url - url for the upload function

#}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
{% if not (form == None) %}
  {% block blurb %}
    {% if upload_header is defined %}
      <h1>{{ upload_header }}<br>
    {% else %}
      <h1>Bulk Upload <br>
    {% endif %}
      <small>Download a template, fill it in and re-upload</small>
    </h1>
    <p>Note that the upload <b>will not work</b> if: </p>
    <ul>
      <li>The headings are changed</li>
      <li>Cells are merged</li>
      <li>The name of the main sheet is changed</li>
      <li>The same entry spans multiple rows in the spreadsheet</li>
    </ul>
  {% endblock %}

  {% block template_download %}
    <a data-toggle="modal" href="{{ download_url }}" class="btn btn-primary" style="margin-top: 10px">Download Template</a>
  {% endblock %}
  {% block upload_button %}
    <a data-toggle="modal" href="#myModal" class="btn btn-primary" style="margin-top: 10px">Upload Completed Template</a>
  {% endblock %}
{% endif %}
{% endblock%}

{% block tail %}
<style type="text/css">
  .modal {
    display: none;
  }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload Completed Template</h4>
      </div>

      <script>
        submitForms = function(){
          var currdir = window.location.href.toString().split(window.location.host)[1];
          var form1Data = $('#submit_file_form').serialize(),
          data = (form1Data !== "" ? form1Data + "&" : "");
//                                            + $('#save_form').serialize();
          $.ajax({
            type: 'POST',
            url: $SCRIPT_ROOT + currdir,
            data: data,
            success: function(msg){
              alert(msg);
            }
          });
          return false;
        };
        $("#submit_file_form").bind('ajax:complete', function() {
          console.log("it got here");
          alert('it completed');
        });
      </script>

      <div class="modal-body">
        <form id="submit_file_form" action="{{ upload_url }}" method=post enctype=multipart/form-data >
          <div class="form-group">
            <!--<label for="exampleInputFile">File input</label>-->
            <input type="file" id="exampleInputFile" name=file>
            <p class="help-block">Select a local file to upload</p>
          </div>
          <input class="btn btn-primary" type=submit value=Upload>
        </form>

      </div>
      <div class="modal-footer">
        {# <!--<button type='button' name='Save'  class='btn btn-default' onclick='submitForms()' data-dismiss='modal'>Upload</button>--> #}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 </div>
</div>

{% endblock %}

