{% macro wrap(header, minimised=0) %}
<style type="text/css">
  .panel-default {
    padding: 0px;
  }
  .inline-field {
    width: 500px;
  }
</style>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a style="cursor: pointer" class="accordion-toggle" data-toggle="collapse" data-target="#{{ header.replace(' ', '_') }}">
          {{ header }}
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </h4>
    </div>
    <div id="{{ header.replace(' ', '_') }}" class="panel-collapse collapse {% if not minimised %}in{% else %}{% endif %}">
      <div class="panel-body">
        {{ caller() }}
      </div>
    </div>
  </div>
</div>
<!--<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">-->
  <!--{{ header }}-->
<!--</button>-->

<!--<div id="demo" class="collapse in">{{ caller() }}</div>-->
{% endmacro %}
