{% extends "admin/model/create.html" %}
{% import "admin_extensions/collapse_rule.html" as collapse_rule %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block head_css %}
{{ super() }}
<style type="text/css">
{#  .panel-group .panel {#}
{#    padding-right: 30px;#}
{#  }#}
{#  .inline-field-list {#}
{#    margin-bottom: 5px;#}
{#  }#}
</style>

{% endblock %}

{% block body %}
<div class="panel panel-primary" style="padding: 0px">
  <div class="panel-heading">
    <h4>Create New Entry</h4>
  </div>
  <div class="panel-body">
    {{ super() }}
  </div>
</div>
{% endblock %}
