{% extends "admin/model/list.html" %}
{% import "admin_extensions/collapse_rule.html" as collapse_rule %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body %}
<div class="panel panel-primary" style="padding: 0px">
  <div class="panel-heading">
      <h4>{{ admin_view.name }}</h4>
  </div>
  <div class="panel-body">
    {{ super() }}
  </div>
</div>
{% endblock %} 
 
