{% extends 'admin/master.html' %}

{% block body %}

{% if errors.count_row_errors() %}
  <h3>{{ errors.count_row_errors() }} entries could not be imported:</h3>
  {% for line_number in errors.row_errors.keys() %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Row {{ line_number + 1 }}:</h4>

      {% if 'duplicates' in errors.row_errors[line_number] %}
        <p>Duplicates entries were found for:
          <ul>
          {% for duplicate in errors.row_errors[line_number]['duplicates'] %}
            <li>{{ duplicate }} {{ errors.row_errors[line_number]['duplicates'][duplicate] }}</li>
          {% endfor %}
          </ul>
        </p>
      {% endif %}

      {% if 'missing_nullables' in errors.row_errors[line_number] %}
        <p>Required fields were missing:
          <ul>
        {% for nullable in errors.row_errors[line_number]['missing_nullables'] %}
            <li>{{ nullable }}</li>
        {% endfor %}
          </ul>
        </p>
      {% endif %}

    </div>
  {% endfor %}
{% endif %}

{% if errors.count_foreign_errors() %}
  <h1><small>Missing references were found for some entries:</small></h1>
  {% for foreign_table in errors.foreign_errors.keys() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>{{ foreign_table.replace('_', ' ').title() }}: </h4>
      <ul>
      {% for column in errors.foreign_errors[foreign_table] | sort %}
      <li>{{ column.replace('_', ' ').title() }}: 
          <ul>
          {% for value in errors.foreign_errors[foreign_table][column] | sort %}
              <li>{{ value }}</li>
          {% endfor %}
          </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endif %}

{% endblock %}