{% import 'sentidash/macros.html' as dash_macros %}

<li><a href="{{ url_for('admin.index') }}"><i class="fa fa-database"></i> Admin</a></li>
{% if current_user.is_authenticated() %}
    <li><a href="{{ url_for('security_manager.user_home') }}"><i class="fa fa-user"> User</i></a></li>
    <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
{% else %}
    <li><a href="{{ url_for('security.login') }}">Log In</a></li>
{% endif %}