<!DOCTYPE HTML>
<head>
{% block head %}
<title>Sentilus</title>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<!-- JQuery and JQuery UI -->
<script src="{{ url_for('sentifront.static', filename='bower_components/jquery/dist/jquery.min.js') }}" type=text/javascript></script>
<script type="text/javascript" href="{{ url_for('sentifront.static', filename='bower_components/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('sentifront.static', filename='bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css') }}">

<!-- Moment -->
<script src="{{ url_for('sentifront.static', filename='bower_components/moment/min/moment.min.js') }}" type=text/javascript></script>

<!-- Bootstrap css and js -->
<link rel=stylesheet type=text/css href="{{ url_for('sentifront.static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<script src="{{ url_for('sentifront.static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type=text/javascript></script>

<!-- Datepicker -->
<script src="{{ url_for('sentifront.static', filename='js/bootstrap-datetimepicker.min.js') }}" type=text/javascript></script>
<link rel=stylesheet type=text/css href="{{ url_for('sentifront.static', filename='css/bootstrap-datetimepicker.min.css') }}">

<link rel=stylesheet type=text/css href="{{ url_for('sentifront.static', filename='css/dashboard.css') }}">

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<style type="text/css">
    nav {
        margin-bottom: 50px;
    }
    .navbar-right {
        padding-right: 15px;
    }
    body {
      margin-top: 50px
    }
</style>
{% endblock %}
</head>

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {% block navbar_brand %}{% endblock %}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                {% if current_user.is_authenticated() %}
                    <li><a href="/admin">Admin</a></li>
                    {% block logout %}
                    <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
                    {% endblock %}
                {% else %}
                    {% block login %}
                    <li><a href="{{ url_for('security.login') }}">Log In</a></li>
                    {% endblock %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div style="clear:both"></div>
{% endblock %}

<body>
{% block sidebar %}
{% block body %}
{% endblock %}
{% endblock %}
</body>