{% import 'sentidash/lib.html' as lib %}
{% import 'sentidash/macros.html' as dash_macros %}
{% import 'sentidash/form_macros.html' as form_macros %}

<html>
<head>
    {% block head %}
        {% block head_css %}
            <style type="text/css">
                /* centered columns styles */
                .row-centered {
                    text-align:center;
                }
                .col-centered {
                    display:inline-block;
                    float:none;
                    /* reset the text-align */
                    text-align:left;
                    /* inline-block space fix */
                    margin-right:-4px;
                }
            </style>
            {{ lib.base_css() }}
            {{ lib.form_css() }}
            <style type="text/css">
                .timeline > li > .timeline-badge .fa {
                    line-height: 50px;
                }
            </style>
        {% endblock %}
    {% endblock %}
</head>

<body>
<div class="wrapper">
    {% block navbar %}
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block branding %}

                {% endblock %}
            </div>
            <ul class="nav navbar-top-links navbar-right">
                {% block top_links %}

                {% endblock %}
            </ul>
        </nav>
    {% endblock %}
    {% block sidebar %}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% block sidebar_items %}
                        {% for item in sidebar_menu %}
                            <li>
                                <a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i>{{ item }}</a>
                            </li>
                        {% endfor %}
                    {% endblock %}
                    {% block sidebar_forms %}
                    {% endblock %}
                        <!-- /input-group -->
                </ul>
            </div>
        </div>
    {% endblock %}
    <div id="page-wrapper">
        {% block header %}
        {% endblock %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block flashes %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                    <div class="col-md-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissable" style="margin-top: 10px" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block body %}
        {% endblock %}
</div>

{% block tail %}
    {{ lib.base_js() }}
    {{ lib.form_js() }}
{% endblock %}

</body>
</html>
