{% extends 'admin/base.html' %}
{% import 'admin/lib.html' as admin_lib %}
{% import 'admin/layout.html' as layout with context -%}
{% import 'sentidash/macros.html' as dash_macros %}
{% import 'sentidash/lib.html' as dash_lib %}

{% block head_css %}
{#    {{ super() }}#}
    {{ dash_lib.base_css() }}
    <link href="{{ url_for('admin.static', filename='admin/css/bootstrap3/admin.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 0px;
        }
        #page-wrapper {
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block page_body %}
<div class="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block brand %}
            {% endblock %}
        </div>
        <ul class="nav navbar-top-links navbar-right">
            {% block access_control %}
            {% endblock %}
        </ul>
    </nav>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            {% block main_menu %}
                <ul class="nav" id="side-menu">
                    {{ layout.menu() }}
                    {{ layout.menu_links() }}
                </ul>
            {% endblock %}
        </div>
    </div>
    <div id="page-wrapper">

        {% block messages %}
            {{ layout.messages() }}
        {% endblock %}

        {% set render_ctx = h.resolve_ctx() %}

        {% block body %}
        {% endblock %}
    </div>
</div>
{% endblock %}