 {# Renders field for bootstrap 3 standards.
 
    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, field_class='', label_visible=true) -%}

    {% set error_class = '' %}
    {% if field.errors %}
        {% if field.errors[0] is not mapping %}
            {% set error_class = 'has-error' %}
        {% endif %}
    {% endif %}

    <div class="form-group {{ error_class }} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField' and field.type != 'InlineModelFormField' and field.type != 'BooleanField' and field.type != 'SubmitField') and label_visible %}
            {{ field.label }}
        {% endif %}
        {% for validator in field.validators %}
            {% if 'required' in validator.field_flags %}
                &#42
            {% endif %}
        {% endfor %}
        {% if field.type == 'TextField' or field.type == 'FloatField' or field.type == 'IntegerField' or field.type == 'TextAreaField' or field.type == 'PasswordField' %}
            {{ field(class_=field_class, **kwargs) }}
        {% elif field.type == 'DateField' %}
            <div class="input-append date">
                {{ field(**kwargs)|safe }}
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
        {% elif field.type == 'BooleanField' %}
            {{ render_checkbox_field(field) }}
        {% elif field.type == 'SubmitField' %}
            {{ field(class_='btn btn-success') }}
        {% else %}
            {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            {% if not field.errors is mapping %}
                {% for e in field.errors if e is string %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}
 
{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_
 
    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {{ field.label }}
    <br>
    {% for subfield in field %}
        <div class="radio-inline">
            <label>
                {{ subfield }}{{ subfield.label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}
 
{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}
 
     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', action_text='Submit', form_class='', field_class='form-control', btn_name='btn', btn_class='btn btn-success', panel_heading='', cancel_url='javascript:history.back()', btn_value="", render_button=true, upload_form=false) -%}

    {% if panel_heading %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 class="panel-title">{{ panel_heading }}</h2></div>
            <div class="panel panel-body">
    {% endif %}

    {% if upload_form %}
        <form method="POST" action="{{ action_url }}" role="form" class="{{ form_class }}" enctype="multipart/form-data">
    {% else %}
        <form method="POST" action="{{ action_url }}" role="form" class="{{ form_class }}">
    {% endif %}
            {% if form.hidden_tag %}
                {{ form.hidden_tag() }}
            {% endif %}
            {% if caller %}
                {{ caller() }}
            {% else %}
                {% for f in form %}
                    <div class="form-group">
                    {% if f.type == 'BooleanField' %}
                        {{ render_checkbox_field(f) }}
                    {% elif f.type == 'RadioField' %}
                        {{ render_radio_field(f) }}
                    {% else %}
                        {{ render_field(f, field_class=field_class) }}
                    {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if render_button %}
                <button type="submit" id="submit_button" class="{{ btn_class }}" name={{ btn_name }} value="{{ btn_value }}">{{ action_text }} </button>
            {% endif %}
            {% if cancel_url %}
                <a class="btn btn-default pull-right" href="{{ cancel_url }}">Cancel</a>
            {% endif %}
        </form>

    {% if panel_heading %}
        </div>
        </div>
    {% endif %}
{%- endmacro %}

 {# Renders a list of individual forms, with a single submit button #}
{% macro render_form_list(form_list, action_url='', action_text='Submit', field_class='form-control', btn_class='btn btn-primary', panel_heading='', cancel_url='') %}
    {% if panel_heading %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h2 class="panel-title">{{ panel_heading }}</h2></div>
            <div class="panel panel-body">
    {% endif %}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for form in form_list %}
                {% for f in form %}
                    <div class="form-group">
                    {% if f.type == 'BooleanField' %}
                        {{ render_checkbox_field(f) }}
                    {% elif f.type == 'RadioField' %}
                        {{ render_radio_field(f) }}
                    {% else %}
                        {{ render_field(f, field_class=field_class) }}
                    {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
        {% if cancel_url %}
            <a class="btn btn-default pull-right" href="{{ cancel_url }}">Cancel</a>
        {% endif %}
    </form>

    {% if panel_heading %}
        </div>
        </div>
    {% endif %}

{% endmacro %}

{# Renders all fields in a form. Can be used in call statement for render_form #}
{% macro render_form_fields(form, field_class='form-control') %}
 {% if form.hidden_tag is defined %}
     {{ form.hidden_tag() }}
 {% else %}
     {% if csrf_token %}
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
     {% endif %}
     {% for f in form if f.widget.input_type == 'hidden' %}
         {{ f }}
     {% endfor %}
 {% endif %}

 {% for f in form if f.widget.input_type != 'hidden' %}
     {{ render_field(f, field_class=field_class, **kwargs) }}
 {% endfor %}
{% endmacro %}

{% macro render_date_field(class='', id='datetimepicker1', label='Date/Time', required=false, name='') %}
    {% if name == '' %}
        {% set name = id %}
    {% endif %}
    <div class="form-group">
        <label for="{{ id }}">Date/Time</label>
        <input id="{{ id }}" name="{{ name }}" type='text' class="form-control {{ class }}" data-date-format="YYYY-MM-DD HH:mm:ss" data-date-autoclose="true" data-role="datetimepicker" {% if required %}required{% endif %}/>
    </div>
{% endmacro %}
