{% macro render_inline_fields(field, template, render, check=None) %}
    <div class="panel panel-default">
        <div class="panel-body inline-field">
            <div class="inline-field-list">
                {% for subfield in field %}
                    {# Existing inline fields #}
                    <div id="{{ subfield.id }}" class="panel panel-default inline-field">
                        {% if subfield.get_pk and subfield.get_pk() %}
                            <div class="panel-heading inline-field-control">
                                <input type="checkbox" name="del-{{ subfield.id }}" id="del-{{ subfield.id }}" />
                                <label for="del-{{ subfield.id }}" style="display: inline">{{ _gettext('Delete?') }}</label>
                            </div>
                        {% else %}
                            <div class="panel-heading inline-field-control">
                                <a href="javascript:void(0)" class="inline-remove-field" style="color:#696969"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        {% endif %}
                        <div class="panel-body">
                            {{ render(subfield) }}
                        </div>

                    </div>
                {% endfor %}
            </div>
            {# Template for new fields #}
            <div class="inline-field-template hide">
                {% filter forceescape %}
                    <div class="panel panel-default inline-field ">
                        <div class="panel-heading inline-field-control">
                            <a href="javascript:void(0)" class="inline-remove-field" style="color:#696969;"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <div class="panel-body">
                            {{ render(template) }}
                        </div>
                    </div>
                {% endfilter %}
            </div>
            <a id="{{ field.id }}-button" href="javascript:void(0)" class="btn btn-default" onclick="faForm.addInlineField(this, '{{ field.id }}');">{{ _gettext('Add') }} {{ field.label.text }}</a>
        </div>
    </div>
{% endmacro %}
