{% import 'sentidash/static.html' as sentidash_static %}

{% macro base_css() %}
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/metisMenu/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/timeline.css') }}">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/morris.css') }}">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/custom_dashboard.css') }}">
{#    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/inline-forms.css') }}" type="text/css">#}
{% endmacro %}
 
{% macro base_js() %}
    <!-- jQuery Version 1.11.0 -->
    <script src={{ sentidash_static.url(filename="js/jquery-1.11.0.js") }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ sentidash_static.url(filename="js/bootstrap.min.js") }}></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src={{ sentidash_static.url(filename="js/plugins/metisMenu/metisMenu.min.js") }}></script>

    <!-- Morris Charts JavaScript -->
{#    <script src={{ sentidash_static.url(filename="js/plugins/morris/raphael.min.js") }}></script>#}
{#    <script src={{ sentidash_static.url(filename="js/plugins/morris/morris.min.js") }}></script>#}
{#    <script src={{ sentidash_static.url(filename="js/plugins/morris/morris-data.js") }}></script>#}

    <!-- Custom Theme JavaScript -->
    <script src={{ sentidash_static.url(filename="js/sb-admin-2.js") }}></script>
{% endmacro %}

{% macro form_css() %}
    <link href="{{ sentidash_static.url(filename='vendor/select2/select2.css') }}" rel="stylesheet">
    <link href="{{ sentidash_static.url(filename='vendor/datetimepicker-bs3/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endmacro %}

{% macro form_js() %}
    <script src="{{ sentidash_static.url(filename='vendor/moment-2.7.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ sentidash_static.url(filename='vendor/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ sentidash_static.url(filename='vendor/datetimepicker-bs3/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ sentidash_static.url(filename='form/form.js') }}"></script>
{% endmacro %}


{% macro datatables_css() %}
    <link href="{{ sentidash_static.url(filename="css/plugins/dataTables.bootstrap.css") }}" rel="stylesheet">
{% endmacro %}

{% macro datatables_js() %}
    <!-- DataTables JavaScript -->
    <script src={{ sentidash_static.url(filename="js/plugins/dataTables/jquery.dataTables.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/fnFilterClear.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/plugins/dataTables/dataTables.bootstrap.js") }}></script>
{% endmacro %}

{% macro handsontable_js() %}
    <script src={{ sentidash_static.url(filename="js/plugins/handsontable/moment.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/plugins/handsontable/pikaday.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/plugins/handsontable/handsontable.full.min.js") }}></script>
{% endmacro %}

{% macro handsontable_css() %}
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/pikaday.css') }}">
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/handsontable.full.min.css') }}">
{% endmacro %}

{% macro nvd3_js() %}
    <script src={{ sentidash_static.url(filename="js/nvd3/d3.min.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/nvd3/nv.d3.min.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/nvd3/tooltip.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/nvd3/utils.js") }}></script>
{% endmacro %}

{% macro nvd3_css() %}
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/nv.d3.min.css') }}">
{% endmacro %}

{% macro c3_js() %}
    <script src={{ sentidash_static.url(filename="js/d3/d3.min.js") }}></script>
    <script src={{ sentidash_static.url(filename="js/c3/c3.min.js") }}></script>
{% endmacro %}

{% macro c3_css() %}
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/plugins/c3.css') }}">
{% endmacro %}

{% macro bootstrap_css() %}
    <link rel="stylesheet" href="{{ sentidash_static.url(filename='css/bootstrap.min.css') }}">
{% endmacro %}
