{% macro page_heading(text) %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ text }}</h1>
    </div>
</div>
{% endmacro %}

{% macro render_sitem(endpoint, display, icon_cls='', active='', active_path=false) %}
<li>
    {% if active_path %}
        {% if request.path == url_for(endpoint, **kwargs) %}
            {% set active_link = true %}
        {% endif %}
    {% else %}
        {% if request.endpoint == endpoint or active == endpoint %}
            {% set active_link = true %}
        {% endif %}
    {% endif %}
    <a {% if active_link %} class='active' {% endif %} href="{{ url_for(endpoint, **kwargs) }}"><i class="fa {{ icon_cls }} fa-fw"></i> {{ display }}</a>
</li>
{% endmacro %}

{% macro render_multi_sitem(display, icon_cls='', active='') %}
<li>
    <a href="#" {% if active == request.endpoint %} class='active' {% endif %}><i class="fa {{ icon_cls }}"></i> {{ display }}<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level{% if active == request.endpoint %} collapse in{% endif %}">
        {% if caller %}
            {{ caller() }}
        {% endif %}
    </ul>
</li>
{% endmacro %}


{% macro render_breadcrumb(endpoint, display, href='') %}
{% if request.endpoint == endpoint %}
    <li class="active">{{ display }}</li>
{% else %}
    <li>
        <a href="{% if href %}{{ href }}{% else %}{{ url_for(endpoint, **kwargs) }}{% endif %}">{{ display }}</a>
    </li>
{% endif %}
{% endmacro %}

{% macro progress_bar(header, valuenow='100', valuemin='0', valuemax='100', class='success', subheading='') %}
{% if not subheading %}
    {% set subheading = valuenow|string + '% Complete' %}
{% endif %}
{% if valuenow > 70 %}
    {% set class = 'success' %}
{% elif valuenow > 20 %}
    {% set class = 'warning' %}
{% else %}
    {% set class = 'danger' %}
{% endif %}
<p>
    <strong>{{ header }}</strong>
    <span class="pull-right text-muted">{{ subheading }}</span>
</p>
<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-{{ class }}" role="progressbar" aria-valuenow="{{ valuenow }}" aria-valuemin="{{ valuemin }}" aria-valuemax="{{ valuemax }}" style="width: {{ valuenow }}%">
        <span class="sr-only">{{ valuenow }}% Complete</span>
    </div>
</div>

{% endmacro %}

{% macro notifications(list, icon='fa-tasks') %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Outstanding Checks
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                {% for item in list %}
                <a href="#" class="list-group-item">
                    <i class="fa {{ icon }} fa-fw"></i>{{ item }}
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                </a>
                {% endfor %}
            </div>
            <!-- /.list-group -->
            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
        </div>
        <!-- /.panel-body -->
    </div>

{% endmacro %}

{% macro table_header(header_list=[], footer=false, id='example') %}
<div class="table-responsive">
    <table id="{{ id }}" class="table table-striped table-bordered" cellspacing="0" width="100%">
        {% if header_list|length %}
            <thead>
            <tr>
                {% for header in header_list %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            {% if footer %}
                <tfoot>
                <tr>
                    {% for header in header_list %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
            {% endif %}
        {% endif %}
    </table>
</div>
{% endmacro %}

{% macro summary_table(summary_list, id='summary-table', heading='', bold=false, td_class='', from_datatables=false, wrap_text=true) %}
    {% set colspan=summary_list[0]|length %}
    {% if wrap_text %}
        <table id="{{ id }}" class="table table-striped table-bordered" cellspacing="0" width="100%">
    {% else %}
        <table id="{{ id }}" class="table table-striped table-bordered" cellspacing="0" width="100%" style="white-space: nowrap">
    {% endif %}
    {% if heading %}
    <thead>
        <tr>
            <th colspan="{{ colspan }}"><h3>{{ heading }}</h3></th>
        </tr>
    </thead>
    {% endif %}
    <tbody>
        {% for item in summary_list %}
            {% set outer_loop = loop %}
            <tr>
                {% for category in item %}
                    {% if category is none %}
                        {% set category = '-' %}
                    {% endif %}
                    {% if from_datatables %}
                       <td id="row-{{ outer_loop.index }}-col-{{ loop.index }}" class="{{ td_class }}">{% if bold and (outer_loop.index == 1 or loop.index == 1) %}<b>{{ category[0] }}</b>{% else %}{{ category[0] }}{% endif %}</td>
                    {% else %}
                        <td id="row-{{ outer_loop.index }}-col-{{ loop.index }}" class="{{ td_class }}">{% if bold and (outer_loop.index == 1 or loop.index == 1) %}<b>{{ category }}</b>{% else %}{{ category }}{% endif %}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro modal(title='', id='myModal', large=false, link=None) %}
    <div class="modal fade" id={{ id }} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% if large %}
        <div class="modal-dialog modal-lg">
    {% else %}
        <div class="modal-dialog">
    {% endif %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
                </div>
                {% if caller %}
                    {{ caller() }}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro menu_link(title, icon_class='', url='') %}

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="{{ icon_class }}"></i> {{ title }} <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            {% if caller %}
                {{ caller() }}
            {% endif %}
        </ul>
    </li>

{% endmacro %}

{% macro sidebar_form() %}
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            {{ caller() }}
        </div>
    </li>
{% endmacro %}

{% macro timing_results(results) %}
    <div class="timing_results" style="padding-bottom:5px">
        {% for result in results.keys() %}
            {% if results[result]['records'] == 0 %}
                <small style="color:#808080">{{ results[result]['description'] }} ({{ results[result]['time_taken'] }}s)</small>
            {% else %}
                <small style="color:#808080">{{ results[result]['description'] }} ({{ results[result]['records'] }} in {{ results[result]['time_taken'] }}s)</small>
            {% endif %}
            <br>
        {% endfor %}
    </div>
{% endmacro %}


{% macro info_panel(title='New Tasks!', text='12', color='green', link='', icon='fa-tasks', tasks_link_text='View Details', to_modal=false) %}
    <div class="panel panel-{{ color }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa {{ icon }} fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ text }}</div>
                    <div>{{ title }}</div>
                </div>
            </div>
        </div>
        {% if not to_modal %}
            <a href={{ link }}>
                <div class="panel-footer">
                    <span class="pull-left">{{ tasks_link_text }}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        {% else %}
            <a href="#{{ link }}" data-toggle="modal">
                <div class="panel-footer">
                    <span class="pull-left">{{ tasks_link_text }}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        {% endif %}

    </div>
{% endmacro %}

{% macro notification_list(notification_list, url_ref, max, list_heading) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i>
        <a href={{ url_ref }}>{{ list_heading }}</a>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <!--{% set count = 1 %}-->
            {% for comment, time in notification_list %}
                {% if loop.index < max %}
                    <a href={{ url_ref }} class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> {{ comment }}
                        <span class="pull-right text-muted small">
                            <em>{{ time.strftime('%a %b %d %H:%M (%Y)') }}</em>
                        </span>
                    </a>
                {% endif %}
            <!--{% set count = count + 1 %}-->
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro create_d3_stacked_line(data_url, id, varname) %}
    <script>
        var {{ varname }} = function(data) {
            nv.addGraph(function() {
                var chart = nv.models.stackedAreaChart()
                        .margin({right: 100})
                        .x(function(d) { return d[0] })   //We can modify the data accessor functions...
                        .y(function(d) { return d[1] })   //...in case your data is formatted differently.
                        .useInteractiveGuideline(true)    //Tooltips which show all data points. Very nice!
                        .rightAlignYAxis(true)      //Let's move the y-axis to the right side.
                        .transitionDuration(500)
                        .showControls(false)       //Allow user to choose 'Stacked', 'Stream', 'Expanded' mode.
                        .clipEdge(true);

                //Format x-axis labels with custom function.
                chart.xAxis
                        .tickFormat(function(d) {
                                        return d3.time.format('%x')(new Date(d))
                                    });

                chart.yAxis
                        .tickFormat(d3.format(',.2f'));

                d3.select('{{ id }}')
                        .datum(data)
                        .call(chart);

                nv.utils.windowResize(chart.update);

                return chart;
            });
        };
        d3.json('{{ data_url }}', {{ varname }})
    </script>
{% endmacro %}

{% macro create_d3_barchart(data_url, id, varname) %}
    <script>
        var {{ varname }} = function(data) {
            nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
              .transitionDuration(350)
              .x(function(d) { return d[0] })   //We can modify the data accessor functions...
              .y(function(d) { return d[1] })   //...in case your data is formatted differently.
              .reduceXTicks(false)   //If 'false', every single x-axis tick label will be rendered.
              .rotateLabels(0)      //Angle to rotate x-axis labels.
              .showControls(true)   //Allow user to switch between 'Grouped' and 'Stacked' mode
              .groupSpacing(0.1)    //Distance between each group of bars.
              .stacked(true)
            ;

            chart.yAxis
                    .tickFormat(d3.format(',.0f'));

            d3.select('{{ id }}')
                .datum(data)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        })};
        d3.json('{{ data_url }}', {{ varname }})
    </script>
{% endmacro %}


{% macro create_d3_doughnut(data_url, id, varname, show_key=true) %}
    <script>
        var {{ varname }} = function(data) {
            nv.addGraph(function() {
                var chart = nv.models.pieChart()
                                .x(function(d) { return d.label })
                                .y(function(d) { return d.value })
                                .showLabels(false)     //Display pie labels
                                {% if show_key %}
                                .showLegend(true)     //Display pie labels
                                {% else %}
                                .showLegend(false)     //Display pie labels
                                {% endif %}
                                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                        ;

                d3.select('{{ id }}')
                        .datum(data)
                        .transition().duration(350)
                        .call(chart);

                nv.utils.windowResize(chart.update);

                return chart;
            })};
        d3.json('{{ data_url }}', {{ varname }})
    </script>
{% endmacro %}
